.alert-info{
    font-size: 1.3rem;
    color: $black-1;
    background-color: $purple-tp !important;
    border: none;
    width: 100%;
    height: 4rem;
    border-radius: 0;
    p.add-text{
        display: none;
    }

        i.kejar-info::before{
            color: $purple;
        }

        @media (max-width: 27.8rem){
                height: 12rem;
                p.full-text{
                    display: none;
                }
                p.add-text{
                    display: block;
                }
        }
}
.information-alert{
    padding: 1.33rem 1.73rem !important;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem !important;
    line-height: 1.6rem;
    color: $black-1;
    background-color: $purple-tp;

    i{
        font-family: Arial, Helvetica, sans-serif !important;
        display: inline-block;
        min-width: 1.4rem;
        margin-right: 1.3rem;
        height: 1.4rem;
        border: 0.13rem solid $purple;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.4rem;
        text-align: center;
        color: $purple;
    }

    p{
        font-style: normal;
        font-weight: normal;
        font-size: 1.3rem !important;
        line-height: 1.6rem;
        color: $black-1;
    }

    .add-text{
        display: none;
    }

    @media (max-width: 27.8rem){
        &:not(:first-line){
            padding-left: 3rem;
        }

        .full-text{
            display: none;
        }
        .add-text{
            display: block;
    
            .add-text-2{
                padding-left: 2.8rem;
            }
        }
}
}
