.badge-undone {
    padding: 0.6rem 0.8rem;
    color: $red-2 !important;
    background-color: $red-tp !important;
    border-radius: 16px;
    border: 1px solid $red-2;
}

.badge-done {
    padding: 0.6rem 0.8rem;
    color: $dark-green !important;
    background-color: $green-tp !important;
    border-radius: 16px;
    border: 1px solid $green-2;
}
