.page-description{
    margin: 4rem auto;

    .page-description-item{
        margin: 2rem auto !important;

        h5{
            @include h5;
            font-weight: bold;
            line-height: 2rem;
            margin-bottom: 0.8rem;
        }

        p{
            @include h5-reg;
            line-height: 2rem;
        }
    }
}

.material-default{
    color: $grey-6;
}

.icon-description{
    margin: 1rem auto;
        .align-items-center{    
            i.kejar-sudah-dikerjakan::before{
                color: $green-2;
            }
            i.kejar-latihan-to-bold::before{
                color: $deep-yellow;
            }
            i.kejar-belum-mengerjakan-2::before{
                color: $red-2;
            }
        }
}