

form {
    label {
        @include h5;
        margin-bottom: 0.8rem;
    }

    p{
        color: $grey-3;
        margin-bottom: 2.4rem;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 4rem;
        @include h5-reg;
        color: $black-1;
        padding: 1rem 1.6rem;
        border-radius: 0;
        background: $white;
        box-sizing: border-box;
        border: 0.2rem solid $grey-13;
        outline: none !important;

        &::placeholder {
            color: $grey-6;
            opacity: 1;
          }

        &:active, &:focus, &:visited {
            border: 0.2rem solid $blue-4;
            box-shadow: none !important;
        }
    }

    textarea.form-control {
        display: block;
        width: 100%;
        height: 12rem;
        @include h5-reg;
        color: $black-1;
        padding: 1rem 1.6rem;
        border-radius: 0;
        background: $white;
        box-sizing: border-box;
        border: 0.2rem solid $grey-13;

        &::placeholder {
            color: $grey-6;
            opacity: 1;
          }

        &:active, &:focus {
            border: 0.2rem solid $blue-4;
            box-shadow: none;
        }
    }
}

.form-group {
    margin-bottom: 2.4rem;
}

.form-group-last {
    margin-bottom: 5.6rem !important;
}

.input-group-password{
    .form-control{
        width: auto !important;
        border-right: none !important;

        &:active, &:focus{
            box-shadow: none;
        }
    }

    input[type="password"]{
        &:visited,
        &:focus,
        &:active{
            border: 0.2rem solid $grey-13 !important;
            border-right: none !important;
            box-shadow: none !important;
        }
    }

    button{
        border: 0.2rem solid $grey-13;
        border-left: none !important;
        color: $black-1 !important;

        &:hover, &:active, &:focus{
            background: none !important;
            border: 0.2rem solid $grey-13 !important;
            border-left: none !important;
            color: $grey-3 !important;
            box-shadow: none !important;
        }
    }
}

.form-control.is-invalid{
    background-image: none;
}

.input-active{
    border: 0.2rem solid $blue-4 !important;
}

.input-group-password{
    .input-group-append {
        i:before{
            @include h5-reg;
            color: $grey-3;
        }
    }
}

.input-group-password.is-invalid{
    input, .input-group-append{
        border: 2px solid $red-2 !important;
    }
    
    input:focus{
        border: 2px solid $red-2 !important;
        border-right: none !important;
    }

    input{
        border-right: none !important;
    }

    .input-group-append{
        border-left: none !important;
    }

    .invalid-feedback{
        display: block !important;
    }
}