@import "_icon_variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?yy8z6m');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?yy8z6m#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?yy8z6m') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?yy8z6m') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?yy8z6m##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kejar-a-bold-ellipse {
  color: #334e68;
  &:before {
    content: $icon-a-bold-ellipse;
  }
}
.kejar-a-ellipse {
  color: #334e68;
  &:before {
    content: $icon-a-ellipse;
  }
}
.kejar-drag-vertical:before{
  content: '\e92e';
  color: #334e68;
}
.kejar-add {
  color: #334e68;
  &:before {
    content: $icon-add;
  }
}
.kejar-alternatif {
  color: #334e68;
  &:before {
    content: $icon-alternatif;
  }
}
.kejar-application {
  color: #334e68;
  &:before {
    content: $icon-application;
  }
}
.kejar-arrow-left {
  color: #334e68;
  &:before {
    content: $icon-arrow-left;
  }
}
.kejar-arrow-right {
  color: #334e68;
  &:before {
    content: $icon-arrow-right;
  }
}
.kejar-arsip-asesmen-bold {
  color: #334e68;
  &:before {
    content: $icon-arsip-asesmen-bold;
  }
}
.kejar-arsip-asesmen {
  color: #334e68;
  &:before {
    content: $icon-arsip-asesmen;
  }
}
.kejar-b-bold-ellipse {
  color: #334e68;
  &:before {
    content: $icon-b-bold-ellipse;
  }
}
.kejar-b-ellipse {
  color: #334e68;
  &:before {
    content: $icon-b-ellipse;
  }
}
.kejar-back {
  color: #334e68;
  &:before {
    content: $icon-back;
  }
}
.kejar-belum-dikerjakan {
  color: #334e68;
  &:before {
    content: $icon-belum-dikerjakan;
  }
}
.kejar-belum-mengerjakan-2 {
  color: #334e68;
  &:before {
    content: $icon-belum-mengerjakan-2;
  }
}
.kejar-belum-mengerjakan-3 {
  color: #334e68;
  &:before {
    content: $icon-belum-mengerjakan-3;
  }
}
.kejar-belum-mengerjakan-small {
  color: #334e68;
  &:before {
    content: $icon-belum-mengerjakan-small;
  }
}
.kejar-belum-mengerjakan {
  color: #334e68;
  &:before {
    content: $icon-belum-mengerjakan;
  }
}
.kejar-benar-salah {
  color: #334e68;
  &:before {
    content: $icon-benar-salah;
  }
}
.kejar-bold {
  color: #334e68;
  &:before {
    content: $icon-bold;
  }
}
.kejar-bottom {
  color: #334e68;
  &:before {
    content: $icon-bottom;
  }
}
.kejar-bullet {
  color: #334e68;
  &:before {
    content: $icon-bullet;
  }
}
.kejar-c-bold-ellipse {
  color: #334e68;
  &:before {
    content: $icon-c-bold-ellipse;
  }
}
.kejar-c-ellipse {
  color: #334e68;
  &:before {
    content: $icon-c-ellipse;
  }
}
.kejar-check-box {
  color: #334e68;
  &:before {
    content: $icon-check-box;
  }
}
.kejar-checked-box {
  color: #334e68;
  &:before {
    content: $icon-checked-box;
  }
}
.kejar-checklist {
  color: #334e68;
  &:before {
    content: $icon-checklist;
  }
}
.kejar-close {
  color: #334e68;
  &:before {
    content: $icon-close;
  }
}
.kejar-d-bold-ellipse {
  color: #334e68;
  &:before {
    content: $icon-d-bold-ellipse;
  }
}
.kejar-d-ellipse {
  color: #334e68;
  &:before {
    content: $icon-d-ellipse;
  }
}
.kejar-dot {
  color: #334e68;
  &:before {
    content: $icon-dot;
  }
}
.kejar-download {
  color: #334e68;
  &:before {
    content: $icon-download;
  }
}
.kejar-drag-vertical {
  color: #334e68;
  &:before {
    content: $icon-drag-vertical;
  }
}
.kejar-dropdown {
  color: #334e68;
  &:before {
    content: $icon-dropdown;
  }
}
.kejar-e-bold-ellipse {
  color: #334e68;
  &:before {
    content: $icon-e-bold-ellipse;
  }
}
.kejar-e-ellipse {
  color: #334e68;
  &:before {
    content: $icon-e-ellipse;
  }
}
.kejar-edit {
  color: #334e68;
  &:before {
    content: $icon-edit;
  }
}
.kejar-esai {
  color: #334e68;
  &:before {
    content: $icon-esai;
  }
}
.kejar-exit {
  color: #334e68;
  &:before {
    content: $icon-exit;
  }
}
.kejar-f-bold-ellipse {
  color: #334e68;
  &:before {
    content: $icon-f-bold-ellipse;
  }
}
.kejar-f-ellipse {
  color: #334e68;
  &:before {
    content: $icon-f-ellipse;
  }
}
.kejar-file {
  color: #334e68;
  &:before {
    content: $icon-file;
  }
}
.kejar-forward {
  color: #334e68;
  &:before {
    content: $icon-forward;
  }
}
.kejar-g-bold-ellipse {
  color: #334e68;
  &:before {
    content: $icon-g-bold-ellipse;
  }
}
.kejar-g-ellipse {
  color: #334e68;
  &:before {
    content: $icon-g-ellipse;
  }
}
.kejar-guru {
  color: #334e68;
  &:before {
    content: $icon-guru;
  }
}
.kejar-h-bold-ellipse {
  color: #334e68;
  &:before {
    content: $icon-h-bold-ellipse;
  }
}
.kejar-h-ellipse {
  color: #334e68;
  &:before {
    content: $icon-h-ellipse;
  }
}
.kejar-hide-password {
  color: #334e68;
  &:before {
    content: $icon-hide-password;
  }
}
.kejar-hide {
  color: #334e68;
  &:before {
    content: $icon-hide;
  }
}
.kejar-i-bold-ellipse {
  color: #334e68;
  &:before {
    content: $icon-i-bold-ellipse;
  }
}
.kejar-i-ellipse {
  color: #334e68;
  &:before {
    content: $icon-i-ellipse;
  }
}
.kejar-info {
  color: #334e68;
  &:before {
    content: $icon-info;
  }
}
.kejar-link {
  color: #334e68;
  &:before {
    content: $icon-link;
  }
}
.kejar-isian-bahasa {
  color: #334e68;
  &:before {
    content: $icon-isian-bahasa;
  }
}
.kejar-isian-matematika {
  color: #334e68;
  &:before {
    content: $icon-isian-matematika;
  }
}
.kejar-italic {
  color: #334e68;
  &:before {
    content: $icon-italic;
  }
}
.kejar-j-bold-ellipse {
  color: #334e68;
  &:before {
    content: $icon-j-bold-ellipse;
  }
}
.kejar-j-ellipse {
  color: #334e68;
  &:before {
    content: $icon-j-ellipse;
  }
}
.kejar-latihan-to-bold {
  color: #334e68;
  &:before {
    content: $icon-latihan-to-bold;
  }
}
.kejar-left {
  color: #334e68;
  &:before {
    content: $icon-left;
  }
}
.kejar-loading .path1 {
  &:before {
    content: $icon-loading-path1;
    color: rgb(251, 251, 251);
  }
}
.kejar-loading .path2 {
  &:before {
    content: $icon-loading-path2;
    margin-left: -1em;
    color: rgb(51, 78, 104);
  }
}
.kejar-log-out {
  color: #334e68;
  &:before {
    content: $icon-log-out;
  }
}
.kejar-mapel-bold {
  color: #334e68;
  &:before {
    content: $icon-mapel-bold;
  }
}
.kejar-mapel {
  color: #334e68;
  &:before {
    content: $icon-mapel;
  }
}
.kejar-mencocokkan {
  color: #334e68;
  &:before {
    content: $icon-mencocokkan;
  }
}
.kejar-mengurutkan-vertikal {
  color: #334e68;
  &:before {
    content: $icon-mengurutkan-vertikal;
  }
}
.kejar-next {
  color: #334e68;
  &:before {
    content: $icon-next;
  }
}
.kejar-number {
  color: #334e68;
  &:before {
    content: $icon-number;
  }
}
.kejar-open-book {
  color: #334e68;
  &:before {
    content: $icon-open-book;
  }
}
.kejar-paket-penilaian-bold {
  color: #334e68;
  &:before {
    content: $icon-paket-penilaian-bold;
  }
}
.kejar-paket-penilaian {
  color: #334e68;
  &:before {
    content: $icon-paket-penilaian;
  }
}
.kejar-password {
  color: #334e68;
  &:before {
    content: $icon-password;
  }
}
.kejar-pdf {
  color: #334e68;
  &:before {
    content: $icon-pdf;
  }
}
.kejar-pengaturan-bold {
  color: #334e68;
  &:before {
    content: $icon-pengaturan-bold;
  }
}
.kejar-pengaturan {
  color: #334e68;
  &:before {
    content: $icon-pengaturan;
  }
}
.kejar-pengawas-sekolah-bold {
  color: #334e68;
  &:before {
    content: $icon-pengawas-sekolah-bold;
  }
}
.kejar-pengawas-sekolah {
  color: #334e68;
  &:before {
    content: $icon-pengawas-sekolah;
  }
}
.kejar-photo {
  color: #334e68;
  &:before {
    content: $icon-photo;
  }
}
.kejar-pilih-centang {
  color: #334e68;
  &:before {
    content: $icon-pilih-centang;
  }
}
.kejar-pilihan-ganda {
  color: #334e68;
  &:before {
    content: $icon-pilihan-ganda;
  }
}
.kejar-play {
  color: #334e68;
  &:before {
    content: $icon-play;
  }
}
.kejar-profile {
  color: #334e68;
  &:before {
    content: $icon-profile;
  }
}
.kejar-radio-button {
  color: #334e68;
  &:before {
    content: $icon-radio-button;
  }
}
.kejar-reload {
  color: #334e68;
  &:before {
    content: $icon-reload;
  }
}
.kejar-right {
  color: #334e68;
  &:before {
    content: $icon-right;
  }
}
.kejar-rombel-bold {
  color: #334e68;
  &:before {
    content: $icon-rombel-bold;
  }
}
.kejar-rombel {
  color: #334e68;
  &:before {
    content: $icon-rombel;
  }
}
.kejar-round {
  color: #334e68;
  &:before {
    content: $icon-round;
  }
}
.kejar-rumpang-pg {
  color: #334e68;
  &:before {
    content: $icon-rumpang-pg;
  }
}
.kejar-sekolah-bold {
  color: #334e68;
  &:before {
    content: $icon-sekolah-bold;
  }
}
.kejar-sekolah {
  color: #334e68;
  &:before {
    content: $icon-sekolah;
  }
}
.kejar-show-password {
  color: #334e68;
  &:before {
    content: $icon-show-password;
  }
}
.kejar-show {
  color: #334e68;
  &:before {
    content: $icon-show;
  }
}
.kejar-soal-benar {
  color: #334e68;
  &:before {
    content: $icon-soal-benar;
  }
}
.kejar-stage {
  color: #334e68;
  &:before {
    content: $icon-stage;
  }
}
.kejar-sudah-dikerjakan-outline {
  color: #334e68;
  &:before {
    content: $icon-sudah-dikerjakan-outline;
  }
}
.kejar-sudah-dikerjakan-small {
  color: #334e68;
  &:before {
    content: $icon-sudah-dikerjakan-small;
  }
}
.kejar-sudah-dikerjakan {
  color: #334e68;
  &:before {
    content: $icon-sudah-dikerjakan;
  }
}
.kejar-table {
  color: #334e68;
  &:before {
    content: $icon-table;
  }
}
.kejar-tambah-siswa {
  color: #334e68;
  &:before {
    content: $icon-tambah-siswa;
  }
}
.kejar-teks-merinci {
  color: #334e68;
  &:before {
    content: $icon-teks-merinci;
  }
}
.kejar-top {
  color: #334e68;
  &:before {
    content: $icon-top;
  }
}
.kejar-underlined {
  color: #334e68;
  &:before {
    content: $icon-underlined;
  }
}
.kejar-upload {
  color: #334e68;
  &:before {
    content: $icon-upload;
  }
}
.kejar-wali-kelas-bold {
  color: #334e68;
  &:before {
    content: $icon-wali-kelas-bold;
  }
}
.kejar-wali-kelas {
  color: #334e68;
  &:before {
    content: $icon-wali-kelas;
  }
}
.kejar-ya-tidak {
  color: #334e68;
  &:before {
    content: $icon-ya-tidak;
  }
}

