$icomoon-font-family: "kejar-matrikulasi" !default;
$icomoon-font-path: "/fonts" !default;

$icon-a-bold-ellipse: "\e900";
$icon-a-ellipse: "\e901";
$icon-add: "\e902";
$icon-alternatif: "\e903";
$icon-application: "\e904";
$icon-arrow-left: "\e905";
$icon-arrow-right: "\e906";
$icon-arsip-asesmen-bold: "\e907";
$icon-arsip-asesmen: "\e908";
$icon-b-bold-ellipse: "\e909";
$icon-b-ellipse: "\e90a";
$icon-back: "\e90b";
$icon-belum-dikerjakan: "\e90c";
$icon-belum-mengerjakan-2: "\e90d";
$icon-belum-mengerjakan-3: "\e90e";
$icon-belum-mengerjakan-small: "\e90f";
$icon-belum-mengerjakan: "\e910";
$icon-benar-salah: "\e911";
$icon-bold: "\e912";
$icon-bottom: "\e913";
$icon-bullet: "\e914";
$icon-c-bold-ellipse: "\e915";
$icon-c-ellipse: "\e916";
$icon-check-box: "\e917";
$icon-checked-box: "\e918";
$icon-checklist: "\e919";
$icon-close: "\e91a";
$icon-d-bold-ellipse: "\e91b";
$icon-d-ellipse: "\e91c";
$icon-dot: "\e91d";
$icon-download: "\e91e";
$icon-drag-vertical: "\e91f";
$icon-dropdown: "\e920";
$icon-e-bold-ellipse: "\e921";
$icon-e-ellipse: "\e922";
$icon-edit: "\e923";
$icon-esai: "\e924";
$icon-exit: "\e925";
$icon-f-bold-ellipse: "\e926";
$icon-f-ellipse: "\e927";
$icon-file: "\e928";
$icon-forward: "\e929";
$icon-g-bold-ellipse: "\e92a";
$icon-g-ellipse: "\e92b";
$icon-guru: "\e92c";
$icon-h-bold-ellipse: "\e92d";
$icon-h-ellipse: "\e92e";
$icon-hide-password: "\e92f";
$icon-hide: "\e930";
$icon-i-bold-ellipse: "\e931";
$icon-i-ellipse: "\e932";
$icon-info: "\e933";
$icon-link: "\e934";
$icon-isian-bahasa: "\e935";
$icon-isian-matematika: "\e936";
$icon-italic: "\e937";
$icon-j-bold-ellipse: "\e938";
$icon-j-ellipse: "\e939";
$icon-latihan-to-bold: "\e93a";
$icon-left: "\e93b";
$icon-loading-path1: "\e93c";
$icon-loading-path2: "\e93d";
$icon-log-out: "\e93f";
$icon-mapel-bold: "\e940";
$icon-mapel: "\e941";
$icon-mencocokkan: "\e942";
$icon-mengurutkan-vertikal: "\e943";
$icon-next: "\e944";
$icon-number: "\e945";
$icon-open-book: "\e946";
$icon-paket-penilaian-bold: "\e948";
$icon-paket-penilaian: "\e949";
$icon-password: "\e94a";
$icon-pdf: "\e94b";
$icon-pengaturan-bold: "\e94c";
$icon-pengaturan: "\e94d";
$icon-pengawas-sekolah-bold: "\e94e";
$icon-pengawas-sekolah: "\e94f";
$icon-photo: "\e950";
$icon-pilih-centang: "\e951";
$icon-pilihan-ganda: "\e952";
$icon-play: "\e953";
$icon-profile: "\e954";
$icon-radio-button: "\e955";
$icon-reload: "\e956";
$icon-right: "\e957";
$icon-rombel-bold: "\e958";
$icon-rombel: "\e959";
$icon-round: "\e95a";
$icon-rumpang-pg: "\e95b";
$icon-sekolah-bold: "\e95c";
$icon-sekolah: "\e95d";
$icon-show-password: "\e95e";
$icon-show: "\e95f";
$icon-soal-benar: "\e960";
$icon-stage: "\e961";
$icon-sudah-dikerjakan-outline: "\e962";
$icon-sudah-dikerjakan-small: "\e963";
$icon-sudah-dikerjakan: "\e964";
$icon-table: "\e965";
$icon-tambah-siswa: "\e966";
$icon-teks-merinci: "\e967";
$icon-top: "\e968";
$icon-underlined: "\e969";
$icon-upload: "\e96a";
$icon-wali-kelas-bold: "\e96b";
$icon-wali-kelas: "\e96c";
$icon-ya-tidak: "\e96d";