$icomoon-font-family: "kejar-matrikulasi" !default;
$icomoon-font-path: "/fonts" !default;

$kejar-pdf: "\e942";
$kejar-penilaian-bold: "\e954";
$kejar-penilaian: "\e955";
$kejar-a-bold-ellipse: "\e934";
$kejar-a-ellipse: "\e935";
$kejar-b-bold-ellipse: "\e936";
$kejar-b-ellipse: "\e937";
$kejar-c-bold-ellipse: "\e938";
$kejar-c-ellipse: "\e939";
$kejar-d-bold-ellipse: "\e93a";
$kejar-d-ellipse: "\e93b";
$kejar-e-bold-ellipse: "\e93c";
$kejar-e-ellipse: "\e93d";
$kejar-f-bold-ellipse: "\e93e";
$kejar-f-ellipse: "\e93f";
$kejar-g-bold-ellipse: "\e940";
$kejar-g-ellipse: "\e941";
$kejar-h-ellipse: "\e943";
$kejar-i-bold-ellipse: "\e944";
$kejar-i-ellipse: "\e945";
$kejar-j-bold-ellipse: "\e946";
$kejar-j-ellipse: "\e947";
$kejar-drag-vertical: "\e92e";
$kejar-photo: "\e92f";
$kejar-radio-button: "\e930";
$kejar-belum-dikerjakan: "\e931";
$kejar-check-box: "\e932";
$kejar-checked-box: "\e933";
$kejar-search: "\e92d";
$kejar-info: "\e92b";
$kejar-mapel: "\e92c";
$kejar-benar-salah: "\e948";
$kejar-esai: "\e949";
$kejar-isian-bahasa: "\e94a";
$kejar-isian-matematika: "\e94b";
$kejar-mencocokkan: "\e94c";
$kejar-mengurutkan-vertikal: "\e94d";
$kejar-pilih-centang: "\e94e";
$kejar-pilihan-ganda: "\e94f";
$kejar-rumpang-pg: "\e950";
$kejar-teks-merinci: "\e951";
$kejar-ya-tidak: "\e952";
$kejar-table: "\e953";
$kejar-belum-mengerjakan-small: "\e909";
$kejar-belum-mengerjakan: "\e90a";
$kejar-add: "\e900";
$kejar-application: "\e901";
$kejar-arrow-left: "\e902";
$kejar-arrow-right: "\e903";
$kejar-arsip-asesmen-bold: "\e904";
$kejar-arsip-asesmen: "\e905";
$kejar-back: "\e906";
$kejar-belum-dikerjakan-2: "\e907";
$kejar-belum-dikerjakan: "\e908";
$kejar-bold: "\e90b";
$kejar-bottom: "\e90c";
$kejar-bullet: "\e90d";
$kejar-close: "\e90e";
$kejar-dot: "\e90f";
$kejar-download: "\e910";
$kejar-dropdown: "\e911";
$kejar-edit: "\e912";
$kejar-exit: "\e913";
$kejar-hide-password: "\e914";
$kejar-link: "\e915";
$kejar-italic: "\e916";
$kejar-latihan-to-bold: "\e917";
$kejar-left: "\e918";
$kejar-log-out: "\e919";
$kejar-next: "\e91a";
$kejar-number: "\e91b";
$kejar-open-book: "\e91c";
$kejar-password: "\e91d";
$kejar-play: "\e91e";
$kejar-profile: "\e91f";
$kejar-right: "\e920";
$kejar-round: "\e921";
$kejar-show-password: "\e922";
$kejar-show: "\e923";
$kejar-soal-benar: "\e924";
$kejar-stage: "\e925";
$kejar-sudah-dikerjakan-small: "\e926";
$kejar-sudah-dikerjakan: "\e927";
$kejar-top: "\e928";
$kejar-underlined: "\e929";
$kejar-upload: "\e92a";

