.list-group {
    display: grid;
    grid-row: auto;
    grid-row-gap: 1.6rem;
    padding: 0;
    margin: 0;
}

.star-item {
    height: 2rem;
    display: flex;
}

.star-icon{
    margin-right: -0.8rem;
    font-size: 2rem;

    i::before{
        color: $grey-8;
    }
}

.star-icon.active i::before {
    color: $deep-yellow;
}

.list-card-menu-item {
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 1.6rem;
    margin: 0;
    background-color: $white;
    border: none;
    border-radius: 0 !important;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), 0px 3px 6px rgba(0, 0, 0, 0.15);

    &:hover {
        background-color: $blue-tp;
        a {
            color: $purple;
        }

        .star-item {
            display: none;
        }

        .stage-order-buttons,
        .round-order-buttons {
            display: grid;
        }

        .btn-icon {
            &.order-status {
                display: none;
            }
            &.sort-up,
            &.sort-down {
                display: block;
            }
        }

        .play-button {
            display: flex;
            justify-content: flex-end;

            .btn-next {
                @include h5;
                display: flex;
                align-items: center;
                border-radius: 0;
                color: $white !important;
                padding: 1.6rem 2rem;
                background: $purple;

                i {
                    margin-left: 1rem;
                    &:before {
                        color: $white !important;
                        font-size: 2rem;
                    }
                    &:hover {
                        color: $white !important;
                    }
                }

                &:hover {
                    background: $purple-2 !important;
                }
            }
        }
    }

    a {
        @include h4-reg;
        color: $black-1;
        text-overflow: ellipsis;
        padding: 0 !important;
        margin: 0 !important;
        &:hover {
            color: $purple;
            text-decoration: none;
        }
    }

    i {
        padding: 0 !important;
        margin-right: 0.8rem !important;
        line-height: normal;
        font-size: 2rem;
        top: 0.3rem;
        left: 0.2rem;

        ::before {
            color: $black-1;
        }

        &:hover {
            color: $purple;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        padding: 3rem 1.6rem !important;
    }
}

.list-card-menu-item {
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 1.6rem;
    margin: 0;
    background-color: $white;
    border: none;
    border-radius: 0 !important;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), 0px 3px 6px rgba(0, 0, 0, 0.15);

    &:hover {
        background-color: $blue-tp;
        a {
            color: $purple;
        }

        .star-item {
            display: none;
        }

        .stage-order-buttons,
        .round-order-buttons {
            display: grid;
        }

        .btn-icon {
            &.order-status {
                display: none;
            }
            &.sort-up,
            &.sort-down {
                display: block;
            }
        }

        .play-button {
            display: flex;
            justify-content: flex-end;

            .btn-next {
                @include h5;
                display: flex;
                align-items: center;
                border-radius: 0;
                color: $white !important;
                padding: 1.6rem 2rem;
                background: $purple;

                i {
                    margin-left: 1rem;
                    &:before {
                        color: $white !important;
                        font-size: 2rem;
                    }
                    &:hover {
                        color: $white !important;
                    }
                }

                &:hover {
                    background: $purple-2 !important;
                }
            }
        }
    }

    a {
        @include h4-reg;
        color: $black-1;
        text-overflow: ellipsis;
        padding: 0 !important;
        margin: 0 !important;
        &:hover {
            color: $purple;
            text-decoration: none;
        }
    }

    i {
        padding: 0 !important;
        margin-right: 0.8rem !important;
        line-height: normal;
        font-size: 2rem;
        top: 0.3rem;
        left: 0.2rem;

        ::before {
            color: $black-1;
        }

        &:hover {
            color: $purple;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        padding: 3rem 1.6rem !important;
    }
}

.list-group-item {
    min-height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 1.6rem;
    margin: 0;
    background-color: $grey-15;
    border: none;
    border-radius: 0 !important;

    * {
        line-height: normal;
        vertical-align: text-top;
    }

    a > div {
        display: table-row;

        div {
            display: table-cell;
        }

        i::before {
            vertical-align: text-top;
        }

        div:first-child {
            white-space: nowrap;
        }

        div:last-child {
            padding-left: 8px;
        }
    }

    &:hover {
        background-color: $blue-tp;
        a {
            color: $purple;
        }

        .star-item {
            display: none;
        }

        .stage-order-buttons,
        .round-order-buttons {
            display: grid;
        }

        .btn-icon {
            &.order-status {
                display: none;
            }
            &.sort-up,
            &.sort-down {
                display: block;
            }
        }

        .play-button {
            display: flex;
            justify-content: flex-end;

            .btn-next {
                @include h5;
                display: flex;
                align-items: center;
                border-radius: 0;
                color: $white !important;
                padding: 1.6rem 2rem;
                background: $purple;

                i {
                    margin-left: 1rem;
                    &:before {
                        color: $white !important;
                        font-size: 2rem;
                    }
                    &:hover {
                        color: $white !important;
                    }
                }

                &:hover {
                    background: $purple-2 !important;
                }
            }
        }
    }

    a {
        @include h4-reg;
        color: $black-1;
        text-overflow: ellipsis;
        padding: 0 !important;
        margin: 0 !important;
        &:hover {
            color: $purple;
            text-decoration: none;
        }
    }

    i {
        padding: 0 !important;
        margin-right: 0.8rem !important;
        line-height: normal;
        font-size: 2rem;
        top: 0.3rem;
        left: 0.2rem;

        ::before {
            color: $black-1;
        }

        &:hover {
            color: $purple;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        padding: 1.4rem 1.6rem;

        a > div {
            flex-wrap: wrap;
            display: flex;

            div {
                width: 100%;

                &:last-child {
                    padding-left: 0px;
                }
            }
        }

    }
}

.list-group-item-dropdown {
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 1.6rem;
    margin: 0;
    background-color: $white-2;
    border: none;
    border-radius: 0 !important;

    &:hover {
        background-color: $blue-tp;
        a {
            color: $purple;
        }

        .star-item {
            display: none;
        }

        .stage-order-buttons,
        .round-order-buttons {
            display: grid;
        }

        .btn-icon {
            &.order-status {
                display: none;
            }
            &.sort-up,
            &.sort-down {
                display: block;
            }
        }

        .play-button {
            display: flex;
            justify-content: flex-end;

            .btn-next {
                @include h5;
                display: flex;
                align-items: center;
                border-radius: 0;
                color: $white !important;
                padding: 1.6rem 2rem;
                background: $purple;

                i {
                    margin-left: 1rem;
                    &:before {
                        color: $white !important;
                        font-size: 2rem;
                    }
                    &:hover {
                        color: $white !important;
                    }
                }

                &:hover {
                    background: $purple-2 !important;
                }
            }
        }
    }

    a {
        @include h4-reg;
        color: $black-1;
        text-overflow: ellipsis;
        padding: 0 !important;
        margin: 0 !important;
        &:hover {
            color: $purple;
            text-decoration: none;
        }
    }

    i {
        padding: 0 !important;
        margin-right: 0.8rem !important;
        line-height: normal;
        font-size: 2rem;
        top: 0.3rem;
        left: 0.2rem;

        ::before {
            color: $black-1;
        }

        &:hover {
            color: $purple;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        padding: 3rem 1.6rem !important;
    }
}

.list-group-student {
    .done-status{
        display: grid;
    }

    .list-group-item {

        .kejar-sudah-dikerjakan {
            &:before {
                color: $green-2;
            }
        }

        &:hover {
            a > i {
                &:before {
                    color: $purple;
                }
            }
        }
    }

    @media screen and (max-width: 36rem) {
        .list-group-item {
            a > span:nth-child(1) {
                display: block;
                float: right;
            }

            a > span:nth-child(2) {
                float: left;
                display: block;
                width: 100%;
            }

            a > i {
                display: none;
            }
        }
    }
}

.border-line{
    border-top: 0;
    border-bottom: 0.2rem solid $grey-13;
}


.list-group-item {

    &:first-child {
        .list-group-order-buttons .btn-icon:first-child {
            display: none;
        }
    }

    &:last-child {
        .list-group-order-buttons .btn-icon:last-child {
            display: none;
        }
    }

    .kejar-belum-mengerjakan-2::before {
        color: red;
    }

    .kejar-sudah-dikerjakan::before {
        color: $green-2;
    }

    .list-group-order-buttons {
        display: none;
        min-width: 5rem;
        text-align: right;
    }

    &:hover {
        .list-group-order-buttons {
            display: block;

            .sort-up,
            .sort-down {
                display: block;
            }
        }

    }
}