.navigation{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    align-items: center;

    .pagination-detail{
        @include h5-reg;
        color: $grey-3;
    }

    .pagination{
        border-radius: 0rem;

        .page-item{
            border-radius: 0rem;

            .page-link{
                @include h6;
                padding: 1rem;
                border-radius: 0rem;
                border: 2px solid $grey-13;
            }
        }

        .active{

            .page-link{
                background: $blue-tp !important;
                color: $blue !important;
                font-weight: bold;
            }
        }
    }
}

.btn-after-before {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3.2rem;

    a {
        @include h5-reg;
        display: flex;
        align-items: flex-start;
        column-gap: 1.2rem;
        text-decoration: none !important;

        i::before {
            font-size: 1.8rem;
        }

        &.inactive {
            color: $grey-8;
            pointer-events: none;
            cursor: default;

            i::before {
                color: $grey-8;
            }
        }

        &.active {
            color: $grey-3;

            i::before {
                color: $grey-3;
            }
        }
    }
}