.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2.4rem 0 1.6rem;
    background-color: $black-1;
    min-height: 4rem;
}

.navbar-assesment {
    padding: 0 3.2rem;
}

.assesment-picture{
    width: 3.2rem;
    height: 3.2rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.3rem !important;
    line-height: 1.6rem !important;
    color: $white !important;
    padding: 0 !important;
    cursor: pointer;

    img {
        width: 4rem;
        height: 4rem;
        margin-right: 0.8rem;
    }
}

.navbar-nav {


    .nav-link {
        @include h6-reg;

        @media screen and (max-width: $mobile-breakpoint) {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &:hover {
            color: $grey-15 !important;
        }
    }

    .dropdown-menu {
        color: $grey-3;
        border-radius: 8px;

        .dropdown-item {

            i {
                &:before {
                    @include h5-reg;
                }
            }

            @include h5-reg;
            padding: 1rem 1.2rem;
        }
    }
}

.nav-tab-kejar {
    .nav-item {
        .nav-link {
            color: $black-1 !important;
            padding-bottom: 10px;
            box-shadow: inset 0px -2px 0px #EBF1F6;

            &.active {
                color: $blue !important;
                box-shadow: inset 0px -2px 0px #3167F6;
                padding-bottom: 10px;
            }
        }
    }
}
