.select2 {
    &.select2-container.select2-container--default{
        width: 100%!important;
    }
    .selection .select2-selection{
        height: 4rem;
        display: flex;
        align-items: center;
        .select2-selection__rendered{
        }
        .select2-selection__arrow{
            top: unset;
            b {
                // border-color: unset;
                // border-style: unset;
                // border-width: unset;
                // color:black;
            }
            b::after{
                // content: $icon-dropdown;
            }
        }
    }

}
