.table-responsive{
    width: 100%;
}

.table{
    width: 100%;
    border: 0rem !important;

    thead{
        border: 0rem;
        th{
            @include h5;
            background-color: $grey-15;
            padding: 1rem;
            border: 0rem;
            width: 50%;
        }
    }

    tbody{
        tr{
            td{
                @include h5-reg;
                padding: 1.4rem 1.2rem;
                border-top: 0.2rem solid $grey-15;
                border-bottom: 0.2rem solid $grey-15;
            }

            &:first-child{
                td{
                    border-top: none;
                }
            }
        }

    }
}

.table-form{
    tbody{

        tr{
            td{
                padding: 0.5rem 0;

                &:first-child{
                    padding-right: 0.5rem;
                }

                &:last-child{
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

.table-form-footer{
    padding: 0;
    
    tr{
        padding: 0;
        
        th{
            border: 0;
            background: none;
            padding: 0 !important;
        }
    }

}