.table-responsive{
    width: 100%;
    position: relative;

    &.table-result-stage{
        margin-top: 1.6rem;
        margin-bottom: 1.5rem;
        padding-bottom: 0;

        table{
            position: relative;

            thead{
                @media screen and (max-width: $mobile-breakpoint) {
                    display: none;
                }

                tr{
                    &.number{
                        th{
                            position: sticky !important;
                            table-layout: fixed;
                            min-width: 7.2rem !important;

                            &:hover{
                                background-color: $blue-tp;
                                color: $purple;
                            }
                        }
                    }

                    th{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 1.3rem;
                        line-height: 1.6rem;
                        height: 4rem !important;
                        vertical-align: middle !important;
                        background-color: $grey-15;
                        border: 0.2rem solid $grey-13 !important;
                    }

                    &:nth-child(1) th{
                        &:nth-child(1){
                            position: sticky !important;
                            left: 0 !important;
                            width: 24rem !important;
                            max-width: 24rem !important;
                            background-color: $grey-15 !important;
                        }

                        &:nth-child(2){
                            text-align: center !important;
                        }
                    }

                    &:nth-child(2) th{
                        cursor: pointer !important;
                        min-width: 7.2rem !important;
                        text-align: center;

                        &:hover{
                            color: $purple !important;
                            background-color: $blue-tp !important;
                        }
                    }
                }
            }

            tbody tr {
                &.result-icon{
                    td{
                        width: fit-content !important;
                        vertical-align: middle;
                        text-align: center !important;

                        &.td-name{
                            text-align: left !important;

                            span{
                                display: block;
                                margin-top: 0.5rem;
                                color: $grey-6;

                                strong{
                                    color: $grey-3;
                                }
                            }
                        }
                    }
                }

                td{
                    &:not(:nth-child(1)){
                        @media screen and (max-width: $mobile-breakpoint) {
                            display: none;
                        }
                    }

                    i.kejar-sudah-dikerjakan::before{
                        color: $green-2;
                    }

                    i.kejar-latihan-to-bold::before{
                        color: $deep-yellow;
                    }

                    i.kejar-belum-mengerjakan-2::before{
                        color: $red-2;
                    }

                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                    text-align: left;
                    min-width: 7.2rem !important;
                    height: 4rem !important;
                    vertical-align: middle !important;
                    border: 0.2rem solid $grey-13 !important;

                    &:nth-child(1){
                        position: sticky !important;
                        left: 0 !important;
                        background-color: $white !important;
                        z-index: 1 !important;
                    }

                    @media screen and (max-width: $mobile-breakpoint) {
                        padding: 0.75rem 0;
                        border: 0 !important;
                    }
                }
            }
        }

        &::-webkit-scrollbar {
            height: 0.8rem;
            background-color: transparent;
            &-track {
                background-color: transparent;
            }
            &-thumb {
                background-color: $grey-9;
                border-radius: 30rem;
            }
        }
    }

    &.table-result-round{
        margin-top: 1.6rem;
        margin-bottom: 1.5rem;
        padding-bottom: 0;

        table{
            position: relative;

            thead tr{
                th{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                    height: 4rem !important;
                    vertical-align: middle !important;
                    background-color: $grey-15;
                    border: 0.2rem solid $grey-13 !important;
                }

                &:nth-child(1) th{
                    &:nth-child(1){
                        position: sticky !important;
                        left: 0 !important;
                        width: 24rem !important;
                        max-width: 24rem !important;
                        background-color: $grey-15 !important;
                    }

                    &:nth-child(2){
                        text-align: center !important;
                    }
                }

                &:nth-child(2) th{
                    cursor: pointer !important;
                    min-width: 7.2rem !important;
                    text-align: center;

                    &:hover{
                        color: $purple !important;
                        background-color: $blue-tp !important;
                    }
                }
            }

            tbody tr td{
                font-style: normal;
                font-weight: normal;
                font-size: 1.3rem;
                line-height: 1.6rem;
                text-align: left;
                min-width: 7.2rem !important;
                height: 4rem !important;
                vertical-align: middle !important;
                border: 0.2rem solid $grey-13 !important;

                &:nth-child(1){
                    position: sticky !important;
                    left: 0 !important;
                    background-color: $white !important;
                    z-index: 1 !important;

                    i{
                        font-size: 1.6rem;
                        top: 0.3rem;

                        &.kejar-belum-mengerjakan-2:before{
                            color: $red-2;
                        }

                        &.kejar-latihan-to-bold:before{
                            color: $deep-yellow;
                        }

                        &.kejar-sudah-dikerjakan:before{
                            color: $green-2;
                        }
                    }
                }

                &:not(:nth-child(1)){
                    text-align: center;
                }

                .icon-group{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.8rem;

                    i{
                        margin: 0 0.1rem;

                        &.kejar-arsip-asesmen:before{
                            color: $grey-8;
                        }
                        &.kejar-arsip-asesmen-bold:before{
                            color: $deep-yellow;
                        }
                        &.kejar-belum-mengerjakan1:before{
                            color: $grey-8;
                        }
                    }
                }
            }
        }

        &::-webkit-scrollbar {
            height: 0.8rem;
            background-color: transparent;
            &-track {
                background-color: transparent;
            }
            &-thumb {
                background-color: $grey-9;
                border-radius: 30rem;
            }
        }
    }
}

.table-custom{
    width: 100%;
    border: 0rem !important;

    thead{
        border: 0rem;
        tr{
            text-align: center;
            th{
                @include h5;
                background-color: $grey-15;
                padding: 1rem;
                border: 0rem;
                width: 7.2rem;

                &.th-name{
                    table-layout: fixed;
                    min-width: 24rem !important;
                    vertical-align: middle;
                    text-align: center;
                }
            }

            &:nth-child(1) th{
                &:nth-child(1){
                    position: sticky !important;
                    left: 0 !important;
                    min-width: 24rem !important;
                    background-color: $grey-15 !important;
                    z-index: 2;
                }

                &:nth-child(2){
                    text-align: center !important;
                    position: sticky !important;
                }
            }


            &.numbr{
                th{
                    position: sticky !important;
                    table-layout: fixed;
                    min-width: 7.2rem !important;

                    &:hover{
                        background-color: $blue-tp;
                        color: $purple;
                    }
                }
            }
        }

    }

    tbody{
        tr{
            td{
                @include h5-reg;
                padding: 1.4rem 1.2rem;
                border-top: 0.2rem solid $grey-15;
                border-bottom: 0.2rem solid $grey-15;
                position: sticky;

                i.kejar-sudah-dikerjakan::before{
                    color: $green-2;
                }
                i.kejar-latihan-to-bold::before{
                    color: $deep-yellow;
                }
                i.kejar-belum-mengerjakan-2::before{
                    color: $red-2;
                }

                &:nth-child(1){
                    background-color: $white !important;
                    position: sticky !important;
                    left: 0rem;
                    z-index: 1;
                    border-top: none;
            }
            }

            &.result-icon{
                td{
                    width: fit-content !important;
                    vertical-align: middle;
                    text-align: center !important;

                    &.td-name{
                        text-align: left !important;
                    }
                }
            }
        }

    }
}

.table-form{
    tbody{

        tr{
            td{
                padding: 0.5rem 0;

                &:first-child{
                    padding-right: 0.5rem;
                }

                &:last-child{
                    padding-left: 0.5rem;
                }
            }

            &:first-child td{
                padding-top: 1rem;
            }
        }
    }
}

.table-form-footer{
    padding: 0;

    tr{
        padding: 0;

        th{
            border: 0;
            background: none;
            padding: 0.8rem 0;
        }
    }
}

.paginate{
    float: right !important;

    .page-item.active .page-link {
        z-index: 3;
        color: #007bff;
        background-color: $blue-tp;
        border-color: $grey-13;
    }
    .page-link {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color:$grey-6;
        background-color: #fff;
        border: 1px solid $grey-13;
    }
}

.profile-table{
    width: 100%;
    margin-top: 2.2rem;

    tr td{
        font-size: 1.3rem;

        &:nth-child(1){
            width: 7rem;
            color: $grey-6;
        }

        &:nth-child(2){
            color: $grey-3;
        }
    }
}

.table-toeic{
    width: 100%;
    border: 0rem !important;
    max-width: 68rem;

    thead{
        border: 0rem;

        th{
            @include h5;
            background-color: $grey-15;
            padding: 1rem;
            border: 0rem;
            &.a{
                width: 66.7%;
            }
            &.b{
                width: 33.4%;
            }
        }
    }

    tbody{
        &.pointer{
            tr{
                cursor: pointer;
            }
        }

        td{
            border: 0;
            border-bottom: 0.2rem solid $grey-15;
        }
    }
}

.table-borderless tr td{
    border: 0 !important;
}

.table-questions{
    tbody{
        tr{
            cursor: pointer;
        }
    }
}

.text-elipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 24rem;
    overflow: hidden;
}

.stage-title-table{
    padding: 0px !important;

    div{
        display: block;
        position: sticky;
        left: 24rem;
        z-index: 1;
    }
}

.answer-list-table-ur{
    table-layout: fixed;
    width: 100%;

    tr td{
        vertical-align: top;
        padding-bottom: 1.6rem;

        &:nth-child(1){
            width: 2rem;
            text-align: left;
        }

        &:nth-child(3){
            width: 6.5rem;
            text-align: right;
            padding-left: 1.5rem;

            &.cols-2{
                width: 3rem;
            }
        }

        .num-group{
            display: inline-block;
            height: 4rem;
            line-height: 4.5rem;
            font-style: normal;
            font-weight: normal;
            font-size: 1.5rem;
        }

        .ckeditor-group{
            margin: 0 1rem;
            width: 100%;

            textarea{
                resize: none;
                overflow: hidden;
                height: 4rem;
            }

            .ck-editor{
                &.active{
                    border: 0.2rem solid $green-3 !important;
                }
            }
        }

        .btn-action-group{
            position: relative;
            display: flex;

            .dropdown-menu{
                border: 0;
                border-radius: 0;
                padding: 0;

                a{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.5rem;
                    height: 5rem;
                    padding: 1rem 2rem;
                    color: $grey-3;

                    &:hover{
                        background-color: $blue-tp2;
                    }

                    i{
                        top: 0.2rem;
                        margin-right: 0.5rem;
                        font-size: 1.8rem;
                    }
                }
            }

            .remove-btn, .sort-btn{
                display: inline-block;
                border: 0;
                height: 4rem;
                font-size: 2rem;
                text-align: center;
                background-color: transparent;

                &:before{
                    display: none !important;
                }

                &:focus{
                    outline: 0;
                }
            }
        }
    }
}


.answer-list-table-me{
    table-layout: fixed;
    width: 100%;

    .first-col{
        width: auto;
    }

    .second-col{
        width: 3rem;
    }

    tr td {
        vertical-align: top;
        padding-bottom: 1.6rem;

        &:nth-child(2){
            text-align: right;
            padding-left: 0.5rem;
        }

        .remove-btn{
            display: inline-block;
            border: 0;
            height: 4rem;
            font-size: 2rem;
            text-align: center;
            background-color: transparent;

            &:focus{
                outline: 0;
            }
        }
    }
}

.answer-list-table-pg, .answer-list-table-ps{
    table-layout: fixed;
    width: 100%;

    tr td{
        vertical-align: top;
        padding-bottom: 1.6rem;

        &.colspan-2{
            padding-right: 1rem;
        }

        &:nth-child(1){
            width: 2rem;
            text-align: left;
        }

        &:nth-child(3){
            width: 3rem;
            text-align: right;
            padding-left: 1.5rem;
        }

        .radio-group{
            cursor: pointer;
            display: inline-block;
            position: relative;
            width: 2rem;
            height: 2rem;
            margin: 1rem 0;
            font-size: 2rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input{
                cursor: pointer;
                position: absolute;
                opacity: 0;
                width: 2rem;
                height: 2rem;
                z-index: 1;
            }

            input:checked ~ i:before{
                content: "\e930";
                color: $green-2;
            }

            input:not(:checked) ~ i:before{
                content: "\e931";
                color: #7d8083;
            }
        }

        .ckeditor-group{
            margin: 0 1rem;
            width: 100%;

            textarea{
                resize: none;
                overflow: hidden;
                height: 4rem;
            }

            .ck-editor{
                &.active{
                    border: 0.2rem solid $green-3 !important;
                }
            }
        }

        .remove-btn{
            display: inline-block;
            border: 0;
            height: 4rem;
            font-size: 2rem;
            text-align: center;
            background-color: transparent;

            &:focus{
                outline: 0;
            }
        }
    }
}

.answer-list-table-ib{
    table-layout: fixed;
    width: 100%;

    .first-col{
        width: auto;
    }

    .second-col{
        width: 3rem;
    }

    tr td{
        vertical-align: top;
        padding-bottom: 1.6rem;

        &.colspan-2{
            padding-right: 1rem;
        }

        .answer-field{
            width: auto;
            box-sizing: border-box;
            border-radius: 0rem;
            border: 0.2rem solid $grey-13;
            padding: 1rem 1.2rem;
            color: $grey-6;
            background-color: $white !important;

            &:focus{
                border: 0.2rem solid $blue-4;
                outline: 0;
            }

            &[contentEditable=true]{
                font-size: 1.5rem !important;
                color: $grey-6 !important;

                &:empty:not(:focus):before{
                    cursor: text;
                    content: attr(placeholder);
                    pointer-events: none;
                    color: $grey-ph;
                }
            }
        }

        &:nth-child(2){
            text-align: right;
            padding-left: 0.5rem;
        }

        .remove-btn{
            display: inline-block;
            border: 0;
            height: 4rem;
            font-size: 2rem;
            text-align: center;
            background-color: transparent;

            &:focus{
                outline: 0;
            }
        }
    }
}

.answer-list-table-rc{
    table-layout: fixed;
    width: 100%;

    tr td{
        vertical-align: top;
        padding-bottom: 1.6rem;

        &:nth-child(2){
            width: 3rem;
            text-align: right;
            padding-left: 1.5rem;
        }

        .answer-field{
            width: auto;
            box-sizing: border-box;
            border-radius: 0rem;
            border: 0.2rem solid $grey-13;
            padding: 1rem 1.2rem;
            color: $grey-6;
            background-color: $white !important;

            &:focus{
                border: 0.2rem solid $blue-4;
                outline: 0;
            }

            &[contentEditable=true]:empty:not(:focus):before{
                cursor: text;
                content: attr(placeholder);
                pointer-events: none;
                color: $grey-ph;
            }
        }

        .remove-btn{
            display: inline-block;
            border: 0;
            height: 4rem;
            font-size: 2rem;
            text-align: center;
            background-color: transparent;

            &:focus{
                outline: 0;
            }
        }
    }
}

// report score
.tr-score-report{
    .column-grey{
        background-color: $grey-13;
    }
    .column-white{
        background-color: $white;
    }

    .input-score-grey{
        border: none !important;
        background-color: $grey-13;
        &:focus{
            border: none !important;
            outline: 0 !important;
            box-shadow: none;
        }
    }
    .input-score-white{
        border: none !important;
        background-color: $white;
        &:focus{
            border: none !important;
            outline: 0 !important;
            box-shadow: none;
        }
    }
}

.table-head{
    background-color: #F4F6F9 !important;
    text-align: center;
}
.answer-list-table-md{
    table-layout: fixed;
    width: 100%;

    tr td{
        vertical-align: top;
        padding-bottom: 1.6rem;

        &.colspan-2{
            padding-right: 1rem;
        }

        &:nth-child(1){
            width: 2rem;
            text-align: left;
        }

        &:nth-child(3){
            width: 3rem;
            text-align: right;
            padding-left: 1.5rem;
        }

        .check-group{
            cursor: pointer;
            display: inline-block;
            position: relative;
            width: 2rem;
            height: 2rem;
            margin: 1rem 0;
            font-size: 2rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input{
                cursor: pointer;
                position: absolute;
                opacity: 0;
                width: 2rem;
                height: 2rem;
                z-index: 1;
            }

            input:checked ~ i:before{
                content: "\e933";
                color: $green-2;
            }

            input:not(:checked) ~ i:before{
                content: "\e932";
                color: #7d8083;
            }
        }

        .ckeditor-group{
            margin: 0 1rem;
            width: 100%;

            textarea{
                resize: none;
                overflow: hidden;
                height: 4rem;
            }

            .ck-editor{
                &.active{
                    border: 0.2rem solid $green-3 !important;
                }
            }
        }

        .remove-btn{
            display: inline-block;
            border: 0;
            height: 4rem;
            font-size: 2rem;
            text-align: center;
            background-color: transparent;

            &:focus{
                outline: 0;
            }
        }
    }
}

.answer-list-table-md{
    table-layout: fixed;
    width: 100%;

    tr td{
        vertical-align: top;
        padding-bottom: 1.6rem;

        &.colspan-2{
            padding-right: 1rem;
        }

        &:nth-child(1){
            width: 2rem;
            text-align: left;
        }

        &:nth-child(3){
            width: 3rem;
            text-align: right;
            padding-left: 1.5rem;
        }

        .check-group{
            cursor: pointer;
            display: inline-block;
            position: relative;
            width: 2rem;
            height: 2rem;
            margin: 1rem 0;
            font-size: 2rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input{
                cursor: pointer;
                position: absolute;
                opacity: 0;
                width: 2rem;
                height: 2rem;
                z-index: 1;
            }

            input:checked ~ i:before{
                content: "\e933";
                color: $green-2;
            }

            input:not(:checked) ~ i:before{
                content: "\e932";
                color: #7d8083;
            }
        }

        .ckeditor-group{
            margin: 0 1rem;
            width: 100%;

            textarea{
                resize: none;
                overflow: hidden;
                height: 4rem;
            }

            .ck-editor{
                &.active{
                    border: 0.2rem solid $green-3 !important;
                }
            }
        }

        .remove-btn{
            display: inline-block;
            border: 0;
            height: 4rem;
            font-size: 2rem;
            text-align: center;
            background-color: transparent;

            &:focus{
                outline: 0;
            }
        }
    }
}

.answer-list-table-rmpg{
    table-layout: fixed;
    width: 100%;

    tr td{
        vertical-align: top;
        padding-bottom: 1.6rem;

        &:nth-child(1){
            width: 3rem;
            text-align: left;
        }

        &:nth-child(3){
            width: 3rem;
            text-align: right;
        }

        .radio-group{
            cursor: pointer;
            display: inline-block;
            position: relative;
            width: 2rem;
            height: 2rem;
            margin: 1rem 0;
            font-size: 2rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input{
                cursor: pointer;
                position: absolute;
                opacity: 0;
                width: 2rem;
                height: 2rem;
                z-index: 1;
            }

            input:checked ~ i:before{
                content: "\e930";
                color: $green-2;
            }

            input:not(:checked) ~ i:before{
                content: "\e931";
                color: #7d8083;
            }
        }

        .answer-field{
            width: auto;
            box-sizing: border-box;
            border-radius: 0rem;
            border: 0.2rem solid $grey-13;
            padding: 1rem 1.2rem;
            color: $grey-6;
            background-color: $white !important;

            &:focus{
                border: 0.2rem solid $blue-4;
                outline: 0;
            }

            &[contentEditable=true]{
                font-size: 1.5rem !important;
                color: $grey-6 !important;

                &:empty:not(:focus):before{
                    cursor: text;
                    content: attr(placeholder);
                    pointer-events: none;
                    color: $grey-ph;
                }
            }

            &.active{
                border: 0.2rem solid $green-3 !important;
            }
        }
    }
}

.text-list-table-rmpg{
    table-layout: fixed;
    width: 100%;

    .first-td{
        width: 100%;
    }

    .second-td{
        width: 3rem;
    }

    tr td{
        vertical-align: top;
        padding-bottom: 1.6rem;

        &:nth-child(3){
            text-align: right;
            padding-left: 1.5rem;
        }

        .ckeditor-group{
            width: 100%;
        }
    }
}
