.bg-lego {
    width: 100vw;
    height: 100vh;
    background: url('/assets/images/home/background.jpg') no-repeat top center;
    background-size: cover;

    @media screen and (max-width: $mobile-breakpoint) {
        height: 50vh;
        background-position: top center;
    }
}

.bg-lego-mobile {
    @media screen and (max-width: $mobile-breakpoint) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50vh;
        background-color: $teal-bg;
        z-index: -100 !important;
    }
}

.bg-blue-tp {
    width: 100vw;
    height: 100vh;
    background: $blue-tp2;
    background-size: cover;
}