/*scrooling thin*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: #f4f4f4;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #B7CCE4;
}

::-moz-scrollbars-horizontal {
    height: 2px;
    width: 2px;

}

::-moz-scrollbars-vertical {
    height: 2px;
    width: 2px;
}

.container {
    background: transparent;
    max-width: 78.4rem;
    padding: 8rem 4rem 4rem 4rem;

    @media screen and (max-width: $mobile-breakpoint) {
        padding: 6rem 2rem 2rem 2rem;
    }
}

.container-fluid {
    max-width: 116rem;
    padding: 8rem 4rem 4rem 4rem;

    @media screen and (max-width: $mobile-breakpoint) {
        padding: 6rem 0rem 2rem 0rem;

        .cont-mv{
            padding: 2rem 2rem 2rem 2rem;
        }
    }

}

.container-exam{
    display: flex;
    padding: 4rem 0;
}

.container-center {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}


