*{
    font-family: 'Roboto Mono';
}

.exam{
    padding: 0 1.5rem !important;

    /* Timer Stick */
    .timer-stick{
        background: #EBF1F6;
        display: block;
        height: 12px;
        width: 81.4%;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 10;
        -moz-box-shadow:    inset 0px 0px 10px 0.2px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: inset 0px 0px 10px 0.2px rgba(0, 0, 0, 0.05);
        box-shadow:         inset 0px 0px 10px 0.2px rgba(0, 0, 0, 0.05);
    }
    
    .timer-stick .timer-length{
        background: #4DC978;
        width: 100%;
        display: block;
        height: inherit;
    }
    
    /* Exam Navbar */
    .exam-navbar{
        margin-top: 44px;
    }
    
    .exam-navbar .question-amount{
        font-size: 15px;
        color: #7c92a7 !important;
    }
    
    .exam-navbar .question-amount .active{
        color: #202020;
        font-weight: bold;
    }
    
    /* Link Logout */
    
    .exam-navbar .link-logout a{
        color: #334E68;
        font-size: 15px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .exam-navbar .link-logout a i{
        margin-right: 5px;
    }
    
    /* Command Text */
    .command{
        margin-top: 8px;
        font-size: 15px;
        color: #202020;
    }

    /* Notification */
    .notification
    {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: -5rem;
        font-weight: bold;
        text-align: center;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .notification-text{
            @include h3;

            i{
                &:before{
                    @include h3;
                    font-size: 15px;
                }
            }

            @media screen and (max-width: 72rem) {
                @include h4;
            }
        }

    }

    .notification-success, .notification-failed{
        display: none;
    }
    
    .notification-success, .notification-success i::before{
        color: #4DC978;
    }
    
    .notification-failed, .notification-failed i::before{
        color: #FF4343;
    }
    
    /* Question */
    .question{
        margin: 0px auto;
        margin-top: 81px;
    }
    .question .question-text{
        text-align: center;
        font-size: 64px;
        line-height: initial;
        color: #202020;
    }
    
    /* Answer Input */
    .answer{
        margin-top: 32px;
        display: block;
    }
    
    .answer .answer-input{
        border: 0px;
        border-bottom: 4px solid #A6D1FF;
        font-size: 64px;
        color: #334E68;
        padding: 8px 0px;
        width: 100%;
        text-align: center;
        outline: none;
        line-height: 20px;
    }
    
    /* Next Button */
    .next-button{
        margin: 5.6rem auto;
        padding: 12px 16px;
        font-size: 17px;
        text-align: center;
    }
    
    .next-button .btn-next{
        background: #F13392;
        border-radius: 0px;
        color: #f2f2f2;
        padding: 20px 24px;
        font-size: 25px;
        font-weight: bold;
    }
    
    .next-button .btn-next  i::before{
        color: white;
        font-size: 25px;
    }
    
    @media screen and (max-width: 1200px) {
        .question .question-text{
            font-size: 48px;
        }
        .answer .answer-input{
            font-size: 48px;
        }
    
        .next-button .btn-next{
            padding: 16px 20px;
        }
    
        .next-button .btn-next{
            font-size: 19px;
        }
    
        .timer-stick{
            width: 100%;
        }
    
        .next-button .btn-next  i::before{
            color: white;
            font-size: 19px;
        }
    }
    
    
    @media screen and (max-width: $mobile-breakpoint) {
        .exam-navbar{
            margin-top: 20px;
        }

        /* Question */
        .question .question-text{
            font-size: 28px;
        }
        /* Answer Input */
        .answer .answer-input{
            font-size: 28px !important;
        }
    
        .timer-stick{
            width: 100%;
        }

        .next-button {
            margin: 4rem auto;
        }
    
        .next-button .btn-next{
            padding: 12px 16px;
        }
        .next-button .btn-next{
            font-size: 17px;
        }
    
        .next-button .btn-next  i::before{
            color: white;
            font-size: 17px;
        }
    }
    
    .question-item{
        display: none;
    }
    
    .question-item:first-child{
        display: block;
    }
    
    .btn-next-disabled{
        background: #EBF1F6 !important;
        color: #ffffff !important;
        pointer-events: none;
    }
    
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }


    .menulis-efektif{
        .question{
            margin-top: 6.4rem !important;
            
            .question-text{
                font-size: 2rem !important;
                font-weight: 500 !important;
                line-height: 180% !important;
                text-align: left;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
            }

        }

        .answer{
            margin-top: 2.4rem !important;
            
            .answer-input{
                height: 14.8rem !important;
                width: 100% !important;
                font-size: 2rem !important;
                padding: 1.2rem 1.6rem !important;
                box-shadow: inset 0px 1.5px 2px rgba(0, 0, 0, 0.1), inset 0px 2px 0px rgba(255, 255, 255, 0.15) !important;
                border-radius: 0.4rem !important;
                resize: none !important;
                background: $blue-tp2;
                border: 0 !important;
                line-height: 180% !important;
                text-align: left;
                outline: none !important;
                color: $black-1 !important;

                &.benar{
                    background: $green-tp;
                }

                &.salah{
                    background: $red-tp;
                }
            }
        }

        .exam-button{
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
            margin: 5.6rem auto;

            .answer-status{
                font-weight: bold;
                line-height: 112%;
                font-size: 2.5rem;
                display: flex;
                align-items: center;

                i{
                    margin-right: 0.8rem;
                    &::before{
                        font-size: 2.5rem;
                    }
                }

                &.benar{
                    color: $green;
                    i::before{
                        color: $green;
                    }
                }

                &.salah{
                    color: $red-2;
                    i{
                        &::before{
                            color: $red-2;
                        }
                    }
                }
            }

            .btn{
                display: none;
                background: $magenta;
                padding: 2rem 2.4rem !important;
                font-size: 2.5rem !important;
                border: none !important;
                color: $white !important;
                display: flex !important;
                align-items: center !important;
                line-height: 112%;

                i{
                    margin-left: 1.6rem !important;
                    &::before{
                        font-size: 2.5rem !important;
                        color: $white !important;
                    }
                }

                &:disabled{
                    background: $grey-13 !important;
                }

                &:hover{
                    background: $magenta-2;
                }
            }
        }

        .pembahasan {
            display: none;
            margin-bottom: 5.6rem;

            h5{
                display: block;
                font-weight: bold;
                font-size: 2rem;
                line-height: 180%;
                color: $grey-3;
            }

            .explanation-text{
                font-size: 2rem;
                font-weight: normal;
                line-height: 180%;
                color: $black-1;

                ul{
                    padding: 0px;
                    list-style: none;

                    li:before{
                        content: '- ';
                    }
                }
            }

            .alternative-answers {
                margin-top: 2.4rem; 
                position: relative; 
                font-size: 2rem; 
                line-height: 180%;

                ul{
                    padding: 0px;
                    list-style: none;

                    li{
                        padding-left: 2rem;
                        margin: 1.2rem;;

                        i{
                            position: absolute;
                            left: 0;
                            line-height: 180%;

                            &::before{
                                font-size: 2.5rem;
                                color: $green;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: $mobile-breakpoint){
            .question{
                margin-top: 4.4rem !important;

                .question-text{
                    font-size: 1.5rem !important;
                    line-height: 200% !important;
                }
            }

            .answer{
                .answer-input {
                    font-size: 1.5rem !important;
                    line-height: 200% !important;
                }
            }

            .exam-button{
                margin-top: 4rem;
                margin-bottom: 2.4rem;

                .answer-status{
                    font-size: 1.7rem;
                    line-height: 118%;
                    
                    i::before{
                        line-height: 118%;
                        font-size: 1.7rem;
                    }

                }

                .btn{
                    font-size: 1.9rem !important;
                    padding: 1.6rem 2rem !important;
                    line-height: 126%;

                    i{
                        &::before{
                            font-size: 1.9rem !important;
                        }
                    }
                }
            }

            .pembahasan{
                margin-bottom: 4rem;

                h5{
                    font-size: 1.7rem;
                    line-height: 141%;
                }

                pre{
                    font-size: 1.7rem;
                    line-height: 141%;
                }

                .alternative-answers{
                    font-size: 1.7rem;
                    line-height: 141%;

                    ul li {
                        line-height: 141%;
                        padding-left: 1.5rem; 

                        i{  
                            line-height: 141%;
                            &::before{
                                font-size: 1.7rem !important;
                            }

                        }
                    }

                }
            }
        }
    }
}

.toeic-notification {
    position: relative !important;
    margin-top: 6.4rem !important;
}

.toeic-description {
    background: $blue-tp2;
    padding: 2.4rem 3.2rem;
    margin-top: 6.4rem;

    .toeic-description-text{
        font-size: 2.2rem !important;
        text-align: center;
        font-weight: normal !important;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        margin-top: 6rem;

        .toeic-description-text {
            font-size: 1.7rem !important;
        }
    }
}

.toeic-question {
    margin-top: 3.2rem !important;

    .question-text {
        font-size: 2.4rem !important;
        text-align: left !important;
        font-weight: 500 !important;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        .question-text {
            font-size: 1.7rem !important;
        }
    }
}
