#create-soal-cerita-question-modal {

    .modal-dialog {
        max-width: 56.8rem;
    }

    .modal-content {
        margin: auto auto;
        max-width: 56.8rem;
    }

    h6:nth-child(1) {
        @include h6-reg;
        color: $grey-3;
        margin-bottom: 3.2rem;
    }

    .card {
        text-decoration: none;
        display: block;
        margin: 1.6rem 2rem;
        border: none;
        background: $blue-tp;

        @media screen and (min-width: $mobile-breakpoint) {
            &:nth-child(1) {
                margin-left: 1.4rem;
            }

            &:nth-last-child(1) {
                margin-right: 1.4rem;
            }
        }

        @media screen and (max-width: $mobile-breakpoint) {
            margin-left: 0rem;
            margin-right: 0rem;
        }


        &:hover {
            background: $purple-tp;
        }


        .card-body{
            text-align: center;

            i::before {
                font-size: 2rem;
                color: $black-1;
            }

            h6 {
                -webkit-hyphens: manual !important;
                -moz-hyphens: auto !important;
                -ms-hyphens: auto !important;
                hyphens: auto !important;
                // @include h6;
                color: $grey-3;
                margin-top: 0.5rem;
            }
        }

    }
}


.table-questions{

    .card {
        margin-bottom: 1.6rem;
        border-radius: 0px;
        border: 2px solid $grey-13;

        &:hover {
            .card-header div:nth-child(2) {
                display: flex;
            }
        }
    }

    .card-header {
        background: $white;
        padding: 1.4rem 1.6rem;
        border-bottom: 2px solid $grey-13;
        display: flex;
        justify-content: space-between;

        div:nth-child(1) {
            column-gap: 8px;
            align-items: center;
            display: flex;
            align-items: center;
            height: 2.3rem;

            h5 {
                display: inline;

                &:nth-child(1) {
                    @include h5;
                }

                &:nth-last-child(1) {
                    @include h5-reg;
                }
            }

            i:not(.kejar-dot) {
                font-size: 2rem;
                &::before {
                    color: $black-1;
                }
            }
        }

        div:nth-child(2) {
            display: none;
            button {
                line-height: normal;
                background: none !important;
                border: none;
                display: flex;
                align-items: center;
                column-gap: 0.4rem;
                color: $blue;
                font-size: 1.3rem;

                i::before {
                    color: $blue;
                    font-size: 1.5rem;
                }
            }
        }

    }

    .answer-text {
        margin-top: 2.4rem;
    }


    .explanation-group {
        margin-top: 2.4rem;

        .explanation-text {
            margin-top: 0.8rem;

            ul li {
                &:before{
                    content: '- ';
                }
            }
        }

    }


    // Type Pilihan Ganda
    .type-pilihan-ganda, .type-menceklis-daftar {
        .question-answer-table {
            margin-top: 2.4rem;

            tr {
                cursor: auto !important;
                width: 100%;

                td {
                    vertical-align: top;

                    &:nth-child(1) {
                        i{
                            font-size: 1.8rem;
                            top: 0.35rem;
                        }
                    }

                    &:nth-child(2) {
                        box-sizing: border-box;
                        padding-left:1.6rem;
                    }

                }
            }
        }
    }

    .type-benar-salah, .type-ya-tidak {
        .question-answer-table {
            margin-top: 2.4rem;

            tr {
                border: 2px solid $grey-13;
                border-left: none;
                border-right: none;
                width: 100%;

                td {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    width: 100%;

                    &:nth-child(1) {
                        max-width: 52.2rem;
                    }

                    &:nth-child(2) {
                        min-width: 9.6rem;
                        box-sizing: border-box;
                        padding-left:1.6rem;
                        padding-right: 1.6rem;
                    }

                }
            }
        }
    }

    .type-mengurutkan, .type-isian-bahasa {
        .question-answer-table {
            margin-top: 2.4rem;

            tr {
                cursor: auto !important;
                border: 2px solid $grey-13;
                border-left: none;
                border-right: none;
                width: 100%;

                td {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    vertical-align: top;

                    &:nth-child(1) {
                        min-width: 5.6rem;
                        text-align: center;
                    }

                    &:nth-child(2) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .type-memasangkan {
        .question-answer-table {
            margin-top: 2.4rem;

            tr {
                cursor: auto;
                border: 2px solid $grey-13;
                border-left: none;
                border-right: none;
                width: 100%;

                td {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    box-sizing: border-box;
                    vertical-align: middle;

                    &:nth-child(1), &:nth-child(3) {
                        max-width: 29.8rem;
                    }

                    &:nth-child(2) {
                        text-align: center;
                        width: 5.2rem;

                        i::before {
                            font-size: 2.2rem;
                        }
                    }

                    &:nth-child(3) {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }

    .type-merinci {
        .question-answer-table {
            margin-top: 2.4rem;
            width: 100%;

            tr {
                border: 2px solid $grey-13;
                border-left: none;
                border-right: none;

                td {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    box-sizing: border-box;
                    vertical-align: middle;
                }
            }
        }
    }

    .type-essai {

        .answer-group {
            margin: 2.4rem 0rem;
        }
    }

    .type-isian-matematika {
        .answer-group {
            margin: 2.4rem 0rem;

            .input-styled {
                padding: 1rem 1.2rem;
                border-radius: 0%;
                text-align: center;
                border: 2px solid $grey-13;
                width: 5rem;
                background: $white;
                color: $black-1;
            }
        }
    }

    .type-teks-rumpang{
        .question-answer-group{
            .text-group{
                color: $black-1 !important;
                line-height: 4.4rem;
                display: inline;
            }

            .answer-box{
                margin: 0.8rem 1.6rem 0.8rem 0;
                padding: 1rem 1.2rem;
                border: 0.2rem solid $grey-13;
                display: inline-block;

                &.active{
                    border: 0.2rem solid $grey-3;
                }

                *{
                    color: $black-1 !important;
                    background-color: transparent !important;
                    font-family: $font-family-monospace !important;
                    font-weight: normal !important;
                    font-style: normal !important;
                    text-decoration: none !important;
                    line-height: 2.5rem !important;
                    font-size: 1.5rem !important;
                }

                .text-group{
                    margin: 0 !important;
                    line-height: 1rem !important;
                }
            }
        }
    }
}

.editor-display {
    i {
        font-family: "Roboto Mono", monospace !important;
        font-style: italic !important;
        line-height: 1.5rem !important;
    }

    .image-style-align-left {
        float: left;
        margin-right: 3rem;
    }

    .image-style-align-right {
        float: right;
        margin-left: 3rem;
    }

    .image-style-align-center {
        margin-left: auto;
        margin-right: auto;
    }

    img {
        width: 100%;
    }

    ul li:before{
        display: none;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.text-capitalize {
    text-transform: capitalize;
}

.benar-salah-input-table {
    width: 100%;

    tr td {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;

        &:nth-child(1) {
            width: 48.8rem !important;
            padding-right: 8px;

            .ck-editor {
                box-sizing: border-box;

            }

            .ck-editor__main {
                box-sizing: border-box;
                min-height: 4rem !important;

                .ck-content {
                    padding: 0px 1,8rem !important;

                    p {
                        line-height: normal;
                        margin-top: 1rem;
                        margin-bottom: 1rem;

                        &.ck-placeholder {
                            position: absolute;
                        }
                    }
                }
            }
        }

        &:nth-child(2) {

            .custom-dropdown {
                button{
                    background: $white;
                    border-radius: 0px;
                    color: $black-1;
                    border: 2px solid #EBF1F6;
                    box-shadow: none !important;
                    min-height: 4.4rem;
                    width: 11.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.5rem;
                    padding: 1rem 1.6rem;
                    box-sizing: border-box;
                    line-height: normal;
                    height: 100%;

                    i {
                        line-height: normal;
                    }

                    &::after {
                        content: "";
                        display: none;
                    }

                    &:focus {
                        background: white;
                        border: 2px solid $blue-4;
                    }

                }

                .dropdown-menu {
                    border: none;
                    border-radius: 0px;
                    margin-top: 4px;
                    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.15);
                    padding: 0px;
                }

                .dropdown-item {
                    padding: 1.8rem 2rem;
                    font-size: 1.5rem;
                    line-height: normal;

                    &:hover {
                        background: $blue-tp2;
                    }

                    &:focus {
                        color: $black-1;
                    }

                    &.active {
                        background: $grey-15 !important;
                        color: $black-1;
                    }
                }

            }

            .remove-btn {
                outline: none;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
            }

            width: 11.6rem !important;
            display: flex;

            i::before {
                color: $black-1;
                font-size: 2rem;
            }
        }
    }
}


.ya-tidak-input-table textarea {
    max-height: 4.4rem;
    overflow: hidden;
    resize: none;
}

.add-btn {
    @include h5-reg;
    text-decoration: none !important;
    margin: 1.6rem auto;
    display: inline-flex;
    align-items: center;

    span {
    }

    i::before {
        color: $blue;
        font-size: 1.5rem;
        margin-right: 0.7rem;
    }
}
