*{
    font-family: 'Roboto Mono';
}

body{
    background-color: #FFFFFF;
}

.content{
    margin: 50px auto;
}

/* Top Link */
.top-link{
    font-size: 15px;
}

.link-back{
    font-size: 15px !important;
    padding: 10px 12px;
}

.link-back a{
    color: #334E68;
    text-decoration: none;
}

.link-back:hover a{
    color: #1888FF;
}

.link-back:hover a i{
    color: #1888FF;
}

/* Breadcrumb */
.breadcrumb{
    font-size: 17px !important;
}

a.breadcrumb-item{
    color: #9daebd !important;
    cursor: pointer !important;
    text-decoration: none;
}

.breadcrumb-item.active{
    color: #202020 !important;
}


/* Title */
.text-title{
    font-weight: bold;
    font-style: 25px;
    color: #202020;
}

/* Detail */
.task-detail{
    margin-top: 40px;
}

.task-detail .task-detail-amount{
    font-size: 15px;
    color: #334E68;
}

.task-detail .task-detail-description{
    font-size: 15px;
    color: #202020;
}

/* Taks Detail Card */

.detail-card{
    margin-top: 24px;
    background: #F7F4FB;
    padding: 24px;
}

.detail-card .detail-card-icon .kejar-open-book::before{
    color: #7233DA !important;
}

.detail-card .detail-card-text{
    color: #202020;
    font-size: 15px;
    line-height: 24px;
}

/* Btn Start */
.btn-start-group{
    margin-top: 56px;
}

.btn-start-group .btn-start{
    border-radius: 0px;
    background: #7233DA;
    font-size: 19px;
    border: 0;
}

.btn-start-group .btn-start .kejar-next::before{
    color: #FFFFFF;
    font-size: 19px;
    margin-left: 7px;
}

/* Btn start hover */
.btn-start-group .btn-start:hover{
    background: #986CE0;
}

