body{
    background: url("../images/result/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden !important;
}

.size-card {
    position: absolute;
    width: 544px;
    height: 376px;
    left: calc(50% - 544px/2);
    top: 132px;

    /* neutral/white */
}

.score-result{
    text-align: center;
}

.stars-icon{
    padding-left: 52px;
}

.side-stars{
    font-size: 100px;
    color: #FFD600;

}

.middle-star{
        font-size: 150px;
        color: #FFD600;
}

.middle-star-border{
    font-size: 150px;
    color: #EBF1F6 !important;
}
.side-stars-border{
    font-size: 100px;
    color: #EBF1F6 !important;
}

.kejar-arsip-asesmen-bold:before {
    content: "\e905";
    color: #FFD600;
}

.score-title{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    color: #000000;

    src: ("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap")

}

.score-description{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

    src: ("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap")

}

.close-icon{
    cursor: pointer;
}

.close-position{
    font-size: 40px;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}

.res-container{
    width: 100%;
    padding-right: 82px;
    padding-left: 82px;
    margin-right: auto;
    margin-left: auto;
}


.btn-restart{
    height: 50px !important;
    width: 109 !important;
    border: 0 !important;
    font-family: 'Roboto Mono', monospace;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 19px !important; 
    background-color: #F7F4FB !important;
    color: #7233DA !important;
    src: ("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap")
}

.btn-restart:hover{
    height: 50px !important;
    width: 109 !important;
    border: 0 !important;
    font-family: 'Roboto Mono', monospace;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 19px !important; 
    background-color: #F7F4FB !important;
    color: #986CE0 !important;
    src: ("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap")
}

.btn-next{
    height: 50px !important;
    width: 255 !important;
    border: 0 !important;
    font-family: 'Roboto Mono', monospace;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 19px !important;
    background-color: #7233DA !important;
    color: #FFFFFF !important;
    src: ("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap")
}

.btn-next:hover{
    height: 50px !important;
    width: 255 !important;
    border: 0 !important;
    font-family: 'Roboto Mono', monospace;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 19px !important;
    background-color: #986CE0 !important;
    color: #FFFFFF !important;
    src: ("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap")
}

.btn-retry{
    height: 56px !important;
    width: 143px !important;
    border: 0 !important;
    font-family: 'Roboto Mono', monospace;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 19px !important;
    background-color: #7233DA !important;
    color: #FFFFFF !important;
    src: ("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap")
}

.btn-retry:hover{
    height: 56px !important;
    width: 143px !important;
    border: 0 !important;
    font-family: 'Roboto Mono', monospace;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 19px !important;
    background-color: #986CE0 !important;
    color: #FFFFFF !important;
    src: ("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap")
}

