/* Common */

*{
    font-family: 'Roboto Mono';
}

body{
    background-color: #FFFFFF;
}

/* Link */

.text-link{
    color: #202020;
    text-decoration: none !important;
}

.text-link:hover{
    color: #1888FF;
}

button:hover .kejar::before, a:hover .kejar::before{
    color: #1888FF !important;
}

/* Link back */

.link-back{
    font-size: 15px;
    align-items: center;
}

/* Breadcrumb */

.breadcrumb{
    font-size: 17px !important;
    margin-top: 18px;
}

.breadcrumb a{
    color: #9daebd;
}

.breadcrumb span{
    color: #202020 !important;
}

.breadcrumb-item{
    text-decoration: none !important;
}

.breadcrumb-item:hover{
    color: #1888FF;
}

/* Title */
.text-title{
    font-size: 33px;
    color: #202020;
    margin-top: -8px;
    font-weight: bold;
}

/* Modal Buttons */
.btn-modal{
    background-color: #FFFFFF;
    border: 2px solid #F9F2FF;
    color: #3167F6;
    font-size: 17px;
    margin: 10px 0px;
    border-radius: 0px !important;
    text-align: left;
    padding: 12px 12px;
}

.btn-modal:hover{
    color: #1888FF;
}

/* Stages Group */
.stages-group{

}

.stage-item{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: left;
    background-color: #F4F6F9;
    padding: 14px 16px;
    margin: 15px 0px;
}

.stage-copy-id{
    text-align: left;
    box-sizing: border-box;
    padding: 0;
    margin-right: 10px;
}

.stage-copy-id i{
    font-size: 20px !important;
    cursor: pointer;
}

.stage-copy-id i:active{
    color: #3167F6;
}

.stage-item .stage-copy-id .stage-id{
    z-index: -1;
    opacity: 0;
    position: absolute !important;
}

.stage-item .stage-text{
    color: #202020;
    font-size: 17px;
    column-width: auto;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis !important;
}

.stage-item .stage-order-buttons{
    display: none;
    box-sizing: border-box;
}

.stage-item .stage-order-buttons button{
    box-shadow: none;
    margin: 0px 5px;
    background: none;
    padding: 0;
}

.stage-item .stage-order-buttons .btn-up{
    transform: rotate(90deg);
}
.stage-item .stage-order-buttons .btn-down{
    transform: rotate(-90deg);
}

.stage-item:hover{
    background-color: #E9F2FF;
}

.stage-item:hover .stage-order-buttons{
    display: flex !important;
}

/* Link Download */
.link-download{
    font-size: 13px;
    text-decoration: none !important;
    margin-top: 15px !important;
}

/* Add Stage Link */
.link-create-stage{
    font-size: 15px;
    text-decoration: none !important;
}


/* Upload Stages Modal */
.modal-title{
    font-weight: bold !important;
    font-size: 17px;
}

.modal-footer .btn{
    font-size: 15px;
    border-radius: 0px !important;
}

.btn-cancel{
    background-color: transparent !important;
}

.upload-stage-input{
    display: block;
    width: 100%;
    border-radius: 0px;
    border: 2px solid #EBF1F6;
    padding: 10px 16px;
    color: #7C92A7;
    background-color: #FFFFFF;
    font-size: 15px;
}

.btn-upload-stage{
    color: #3167F6;
    font-size: 15px;
    padding: 10px 16px;
}