*{
    font-family: 'Roboto Mono';
}

.stageItem{
    background-color: #F4F6F9;
    padding: 13px !important;
}

.stageItem:hover{
    background-color: #E9F2FF !important;;
}

.text-link{
    color: #202020;
    text-decoration: none !important;
}
.stageItem:hover > .text-link{
    color: #7233DA;
}

.stageItem:hover .orderButtons{
    display: block;
    position: absolute;
    right: 30px;
}

.orderButtons{
    display: none;
}

.orderButtons button{
    background: transparent !important;
}

.btn-upload{
    background-color: white !important;
    border: 2px solid #E9F2FF;
    font-size: 17px;
    color: #3167F6 !important;
}

.btn-upload svg{
    fill: #3167F6 !important;
}

.btn-upload:hover svg{
    fill: #1888FF !important;
}

.btn-upload span{
    /* Unggah Babak */

    position: absolute;
    height: 20px;
    left: 52px;
    right: 16px;
    top: calc(50% - 20px/2);

    /* h4-reg */
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height, or 118% */

    /* blue/blue */
    color: #3167F6;

}

.btn-upload:hover > *{
    color: #1888FF;
}

.link-back{
    color: #334E68;
    margin-bottom: 18px;
    font-size: 15px !important;
}

.breadcrumb{
    font-size: 17px !important;
}

.breadcrumb-item a{
    color: #9daebd !important;
}

.breadcrumb-item.active{
    color: #202020 !important;
}

.stageTitle{
    font-size: 33px !important;
    margin-bottom: 40px !important;
}


/* Modal */

.uploadStageTitle{
    font-weight: bold;
    font-size: 17px;
    color: #000000 !important;
}

.uploadStageClose{
    color: #000000 !important;
}

.uploadStageClose{
    border: none !important;
    box-shadow: none !important;
}

.download_format{
    font-size: 13px !important;
}

.btn{
    border-radius: 0% !important;
    box-shadow: none !important;
}

.uploadstageCreateStage{
    font-size: 15px !important;
}

.stageLinkCopyId svg{
    fill: #373737 !important;
}
.stageLinkCopyId:hover svg{
    fill: #334E68 !important;
}

/* Input Hidden For Copy Id */
.stageLinkCopyId .stageId{
    z-index: -10;
    padding: 0;
    margin: 0;
    position: absolute;
}


@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    .stageItem .text-link{
        background-color: orange !important;
    }

}