// neutral
$black-1: #202020;
$grey-2: #373737;
$grey-3: #334E68;
$grey-6: #7C92A7;
$grey-8:#ABBED4;
$grey-9: #B7CCE4;
$grey-10: #EDEDF6;
$grey-13: #EBF1F6;
$grey-15: #F4F6F9;
$grey-ph: #707070;
$white-2: #FBFBFB;
$white: #FFFFFF;

// blue
$blue: #3167F6;
$blue-2: #1888FF;
$blue-4: #A6D1FF;
$blue-5: #F4F8FF;
$blue-6: #EDF8FF;
$blue-tp: #E9F2FF;
$blue-tp2: #F4F8FF;
$blue-6: #EDF8FF;

// purple magenta
$magenta: #F13392;
$magenta-2: #FF58AC;
$purple: #7233DA;
$purple-2: #986CE0;
$purple-tp: #F7F4FB;

// alerts
$red-2: #FF4343;
$red-3: #FF6666;
$red-5: #FFD6D6;
$green: #19CE58;
$dark-green: #008746;
$green-2: #4DC978;
$green-3: #70DB95;
$green-5: #D9FFDA;
$deep-yellow: #FFD600;

// background
$teal-bg: #98D3E0;
$green-tp: #F0FFF4;
$red-tp: #FFF4F4;
$green-bg: #D3EAC8;

.text-white {
    color: $white !important;
}

.text-white {
    color: $white !important;
}

.text-black-1{
    color: $black-1 !important;
}

.text-purple,
.text-purple::before {
    color: $purple !important;
}

.text-grey-3 {
    color: $grey-3 !important;
}

.text-grey-6, .text-grey {
    color: $grey-6 !important;
}

.text-blue{
    color: $blue !important;
}

.text-blue-2{
    color: $blue-2 !important;
}

.text-green-2{
    color: $green-2 !important;
}

.red-3{
    color: $red-3;
}

.text-blue,
.text-blue::before {
    color: $blue !important;
}

.bg-grey-13{
    background-color: $grey-13 !important;
}

.bg-grey-15{
    background-color: $grey-15 !important;
}

.bg-red-2{
    background-color: $red-2;
}

.bg-red-5{
    background-color: $red-5;
}

.bg-blue-tp-2 {
    background-color: $blue-tp2 !important;
}

.bg-blue-tp {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    background-color: $blue-5 !important;
    z-index: -1 !important;
    overflow-y: auto !important;
}

.bg-green {
    background-color: $green-bg !important;
}

.border-grey-13 {
    border: 1px solid $grey-13;
}
.white {
    color: $white;
}

