
// neutral
$black-1: #202020;
$grey-3: #334E68;
$grey-6: #7C92A7;
$grey-8:#ABBED4;
$grey-9: #B7CCE4;
$grey-13: #EBF1F6;
$grey-15: #F4F6F9;;
$white-2: #FBFBFB;
$white: #FFFFFF;

// blue
$blue: #3167F6;
$blue-2: #1888FF;
$blue-4: #A6D1FF;
$blue-5: #F4F8FF;
$blue-tp: #E9F2FF;
$blue-tp2: #F4F8FF;

// purple magenta
$magenta: #F13392;
$magenta-2: #FF58AC;
$purple: #7233DA;
$purple-2: #986CE0;
$purple-tp: #F7F4FB;

// alerts
$red-2: #FF4343;
$green-2: #4DC978;
$deep-yellow: #FFD600;

// background
$teal-bg: #98D3E0;

.bg-blue {
    background-color: $blue-5 !important;
}